@import "./variables";

.card-sidebar {
  width: 100%;
  box-sizing: border-box;
  padding: 20px 30px;
  background-color: $color-dark-4;
  display: flex;
  .sidebar {
    width: 30%;
    .sidebar--menu {
      background-color: $color-dark-5;
      .filter {
        background-color: $color-dark-5;
        padding: 20px;
        border-bottom: 1px solid $color-dark-3;
        h4 {
          margin: 0 0 20px;
        }
        p {
          margin: 0 0 10px;
          color: $color-dark-3;
          i {
            margin: 0 10px 0 0;
            color: $color-dark-1;
          }
          span {
            color: $color-dark-2;
          }
        }
      }
      .criteria {
        padding: 20px;
        border-bottom: 1px solid $color-dark-2;
        .color--button {
          margin: 0 0 30px;
          h5 {
            color: $color-dark-3;
            margin: 0 0 20px;
          }
          .button__list {
            display: flex;
            justify-content: space-between;
            input[type="button"] {
              width: 10px;
              height: 10px;
              padding: 10px;
              border: none;
              border-radius: 50%;
              cursor: pointer;
              &.color1 {
                background-color: #779CFF;
              }
              &.color2 {
                background-color: #00DACB;
              }
              &.color3 {
                background-color: #FF0058;
              }
              &.color4 {
                background-color: #FF5000;
              }
              &.color5 {
                background-color: #ECFD00;
              }
              &.color6 {
                background-color: #43EA00;
              }
              &.color7 {
                background-color: #B300FF;
              }
              &.color8 {
                background-color: #000000;
              }
              &:hover {
                opacity: 0.5;
              }
            }
          }
        }
        .size--button {
          margin: 0 0 30px;
          h5 {
            color: $color-dark-3;
            margin: 0 0 20px;
          }
          .button__list2 {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            button {
              margin: 0 10px 10px 0;
              border-radius: 10px;
              border: 1px solid $color-dark-3;
              padding: 5px 15px;
              &:hover {
                background-color: #FF0058;
                color: $color-dark-5;
              }
            }
          }
        }
        .price--range {
          margin: 0 0 30px;
          h5 {
            color: $color-dark-3;
            margin: 0 0 20px;
          }
        }
        .brand--list {
          margin: 0 0 30px;
          h5 {
            color: $color-dark-3;
            margin: 0 0 20px;
          }
        }
      }
      .button--filter {
        display: flex;
        justify-content: center;
        padding: 20px 0;
        button {
          border: none;
          border-radius: 20px;
          margin: 0 10px 0;
          &:hover {
            cursor: pointer;
          }
          &.button__apply {
            background-color: $color-primary;
            color: $color-dark-5;
            padding: 10px 25px;
            &:hover {
              opacity: .8;
            }
          }
          &.button__clear {
            background-color: transparent;
            color: $color-primary;
            &:hover {
              color: $color-dark-2;
            }
          }
        }
      }
    }
  }
  .cardlist {
    width: 70%;
    padding: 0 10px 20px;
    .cardlist--menu {
      display: flex;
      flex-wrap: wrap;
      .card--stuff {
        background-color: $color-dark-5;
        margin: 3px;
        text-align: center;
        width: 32%;
        padding: 8px;
        transition: transform .5s;
        &:hover {
          box-shadow: 0px 0px 1px;
          border-radius: 5px;
          transform: scale(1.05);
        }
        img {
          width: 80%;
          margin: 10px 0;
        }
        h4 {
          margin: 10px 0;
        }
        p {
          margin: 10px 0;
          color: $color-primary;
          font-weight: bold;
        }
        button {
          background-color: $color-primary;
          color: $color-dark-5;
          padding: 10px 20px;
          margin: 10px 0 10px;
          border-radius: 20px;
          border: none;
          &:hover {
            opacity: .8;
            cursor: pointer;
          }
        }
      }
    }
  }
}
