@import "./variables";

div .c-grid {
  display: grid;
  padding: 10px;
  padding: 0px 40px 10px 30px;
  // grid-gap: 30px;
  grid-template-rows: repeat(1, 1fr);
  text-align: center;
  background-color: $color-dark-4;

  .card-1 {
    background-color: $color-dark-5;
    width: 95%;
    // height: 100%;
    padding : 10px;
    grid-row-start: 1;
    grid-row-end: 2;
    border: solid 2px $color-dark-4;
    transition: all 1s;
    &:hover {
      box-shadow: 0.5px;
      border-radius: 5px;
      outline : none;
      border : none;
      transform: scale(1.05);
    }
  }

  .card-1 img {
    margin: 20px;
    width: 60%;
  }

  .card-1 h3 {
    line-height: 35px;
  }

  .card-1 h4 {
    color: $color-primary;
    padding-bottom: 15px;
  }

  .card-2 {
    background-color: $color-dark-5;
    width: 95%;
    height: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    border: solid 2px $color-dark-4;
    transition: all 1s;
    &:hover {
      box-shadow: 0.5px;
      border-radius: 5px;
      outline : none;
      border : none;
      transform: scale(1.05);
    }
  }

  .card-2 img {
    margin: 20px;
    width: 60%;
  }

  .card-2 h3 {
    line-height: 35px;
  }

  .card-2 h4 {
    color: $color-primary;
    padding-bottom: 15px;
  }

  .card-3 {
    background-color: $color-dark-5;
    width: 95%;
    height: 100%;
    grid-column-start: 3;
    grid-column-end: 4;
    border: solid 2px $color-dark-4;
    transition: all 1s;
    &:hover {
      box-shadow: 0.5px;
      border-radius: 5px;
      outline : none;
      border : none;
      transform: scale(1.05);
    }
  }

  .card-3 img {
    margin: 20px;
    width: 60%;
  }

  .card-3 h3 {
    line-height: 35px;
  }

  .card-3 h4 {
    color: $color-primary;
    padding-bottom: 15px;
  }
}
