@import "./variables";

.checkout-section {
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
}

.checkout-container {
    width: 70%;
    background-color: #fff;
    margin: 1rem;
    padding: 1rem 3rem;
    border: 1px solid #dfe6e9;
}

.checkout-title {
    font-size: 1.6rem;
}

// Wrapper

.checkout-wrapper {
    display: flex;
}

.checkout-order {
    display: flex;
    flex-direction: column;
}

.order-title {
    display: flex;
    width: 500px;
    color: $color-dark-1;
    height: 40px;
}

.order-title .item-1 {
    width: 250px;
    color: $color-dark-3;
}

.order-title .item-2 {
    width: 100px;
    text-align: center;
    color: $color-dark-3;
}

.order-title .item-3 {
    width: 100px;
    text-align: center;
    color: $color-dark-3;
}

.order-items {
    display: flex;
    width: 500px;
    height: 40px;
}

.order-items .item-1 {
    width: 250px;
    color: $color-dark-1;
    // font-weight: lighter;
}

.order-items .item-2 {
    width: 100px;
    text-align: center;
    color: $color-dark-1;
    // font-weight: lighter;
}

.order-items .item-3 {
    width: 100px;
    text-align: center;
    font-weight: bolder;
    color: $color-primary;
}

.checkout-delivery {
    display: flex;
    flex-direction: column;
}

.checkout-delivery .delivery-title {
    color: $color-dark-3;
    height: 40px;
}

.checkout-delivery .delivery-title-2 {
    color: $color-dark-3;
    height: 40px;
    font-weight: bolder;
}

.checkout-delivery .delivery-items {
    height: 40px;
}

// End of Wrapper

.checkout-bottom {
    display: flex;
    flex-direction: column;
}

.checkout-details {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.checkout-details h4 {
    color: $color-dark-3;
}

.checkout-details h4 span {
    display: block;
    color: $color-dark-1;
}

.checkout-bottom .checkout-details input {
    height: 30px;
    text-align: center;
    font-weight: bolder;
    border-radius: 50px;
    color: $color-dark-2;
    border: 1px solid $color-dark-3;
}

.checkout-bottom .checkout-details input:focus {
    outline: 0;
}

.checkout-options {
    display: flex;
    justify-content: space-between;
    padding: 10px 75px;
    background-color: #dfe6e9;
    margin: 30px 0;
}

.checkout-options .btn-back {
    cursor: pointer;
    width: 150px;
    height: 50px;
    border-radius: 100px;
    font-weight: bolder;
    border: 0px;
    color: $color-primary;
    background-color: $color-dark-5
}

.checkout-options .btn-back:hover {
    transition: .3s all;
    color: $color-dark-5;
    background-color: $color-primary;
}

.checkout-options .btn-next {
    cursor: pointer;
    width: 150px;
    height: 50px;
    border-radius: 100px;
    font-weight: bolder;
    border: 0px;
    color: $color-dark-5;
    background-color: $color-primary;
}

.checkout-options .btn-next:hover {
    transition: .3s all;
    color: $color-primary;
    background-color: $color-dark-5;
}

.payment {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.payment .visa-options {
    border: 1px solid black;
    padding: 40px 80px;
}

.payment .paypal-options {
    border: 1px solid black;
    padding: 40px 80px;
}

.payment .visa-options img {
    width: 300px;
    height: 80px;
}

.payment .paypal-options img {
    width: 300px;
    height: 80px;
}

.payment-wrapper {
    display: flex;
}

.payment-wrapper input {
    border: 1px solid $color-dark-3;
    height: 30px;
    border-radius: 20px;
}

.payment-wrapper .left-items {
    display: flex;
    flex-direction: column;
    width: 48%;
    margin-right: 35px;
}

.payment-wrapper .left-items .top-items {

}

.payment-wrapper .left-items .top-items input {
    width: 100%;
}

.payment-wrapper .left-items .split-items {
    display: flex;
    justify-content: space-between;
}

.payment-wrapper .left-items .split-1 {
    width: 50%
}

.payment-wrapper .left-items .split-1 input {
    width: 90%
}

.payment-wrapper .left-items .split-2 {
    width: 45%
}

.payment-wrapper .left-items .split-2 input {
    width: 100%
}

.payment-wrapper .right-items {
    display: flex;
    flex-direction: column;
    width: 20%;
    flex-grow: 7.3;
}

.payment-wrapper .right-items .top-items input {
    width: 100%;
}