@import "./variables";

.wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.content {
  flex: 0 0 10%;
  background-color: $color-dark-5;
  border: 1px solid $color-dark-3;
}

.content:hover {
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.h5 {
  text-align: center;
  margin: 20px;
}

.price {
  font-size: 15px;
  color: $color-dark-2;
  text-align: center;
}

.button-hot {
  color: $color-dark-5;
  background-color: $color-primary;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 12px;
  margin: 15px;
}

.button-hot:hover {
  background-color: $color-third-1;
}

.button-wrap {
  display: flex;
  justify-content: center;
}
