.product {
  display: inline;
}

.split {
  height: 100%;
  width: 50%;
  position: relative;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  display: inline-block;
}

.left {
  left: 0;
  background-color: white;
}

.right {
  right: 0;
  background-color: white;
}

// .centered {
//   position: absolute;
//   top: 50%;
//   left: 50%;
// }

.image img {
  height: 90%;
  width: 90%;
}

.flex-image {
  display: flex;
  flex-wrap: nowrap;
  // background: grey;
  padding-top: 10px;
}

.flex-image > div {
  width: 100px;
  margin: 5px;
  margin-left: 20px;
  padding: 2px;
  border: 1px solid black;
}

.text {
  display: flex;
  padding-left: 25%;
}

.text p {
  color: #8d8d91;
  padding-left: 10px;
}

.p {
  font-size: 5px;
}

.dot {
  font-weight: bold;
  padding-left: 5px;
}

.checked {
  color: orange;
}

.stars {
  display: flex;
  padding: 25px 26%;
}

.title {
  padding: 3px 26%;
}

.price {
  color: #f62f5e;
  padding: 15px 25% 15px 0;
}

.color {
  padding: 3% 15% 14% 26%;
  color: grey;
}

.colors-name {
  padding: 4% 0;
}

.donker {
  background-color: #5f2bba;
  height: 18px;
  width: 18px;
  margin: 5px;
  border-radius: 50%;
}

.blue {
  background-color: #34b2e0;
  height: 18px;
  width: 18px;
  margin: 5px;
  border-radius: 50%;
}

.red {
  background-color: #d61542;
  height: 18px;
  width: 18px;
  margin: 5px;
  border-radius: 50%;
}

.orange {
  background-color: #e66022;
  height: 18px;
  width: 18px;
  margin: 5px;
  border-radius: 50%;
}

.yellow {
  background-color: #e1f013;
  height: 18px;
  width: 18px;
  margin: 5px;
  border-radius: 50%;
}

.green {
  background-color: #58eb2f;
  height: 18px;
  width: 18px;
  margin: 5px;
  border-radius: 50%;
}

.purple {
  background-color: #8516a1;
  height: 18px;
  width: 18px;
  margin: 5px;
  border-radius: 50%;
}

.size {
  color: grey;
  padding: 10% 1%;
}

.size-box {
  padding: 5% 1% 15%;
}

.xs {
  height: 20%;
  width: 10%;
  margin: 2px;
}

.s {
  height: 20%;
  width: 10%;
  margin: 2px;
}

.m {
  height: 20%;
  width: 10%;
  margin: 2px;
}

.l {
  height: 20%;
  width: 10%;
  margin: 2px;
}

.xl {
  height: 20%;
  width: 10%;
  margin: 2px;
}

.xxl {
  height: 20%;
  width: 10%;
  margin: 2px;
}

.submit {
  padding: 5px 20px;
}

.submit-1 {
  background-color: #f62f5e;
  color: white;
  height: 3rem;
  width: 7rem;
  border-radius: 20px;
}
