@import "./variables";

.signup-page {
  width: 400px;
  padding: 5% 0 0;
  margin: auto;

  .form {
    position: relative;
    background: $color-dark-5;
    max-width: 400px;
    margin: 0 auto 100px;
    padding: 15px;
    text-align: center;
    border: 0px solid;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 10px 18px $color-dark-4;

    .signup-form {
      padding-top: 30px;

      input {
        font-family: "roboto", sans-serif;
        outline: 1;
        background: $color-dark-5;
        border-radius: 5px;
        width: 100%;
        border: 1px solid $color-dark-3;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 18px;
        text-align: center;
      }

      p {
        display: flex;
        justify-content: center;
        color: $color-dark-2;
        font-weight: bold;
      }

      button {
        font-family: "roboto", sans-serif;
        text-transform: uppercase;
        background: $color-primary;
        border: 1px solid $color-dark-3;
        margin-top: 30px;
        width: 50%;
        font-size: 14px;
        font-weight: bold;
        padding: 15px;
        border-radius: 25px;
        color: $color-dark-5;
        cursor: pointer;
      }

      h4 {
        padding : 10px 0px;
        text-align: left;
        color: $color-dark-2;
      }

      .s-gender {
        display: flex;
        justify-content: space-between;
        height: 30px;
        color: $color-dark-2;
      }

      .s-role {
        display: flex;
        justify-content: space-around;
        height: 30px;
        color: $color-dark-2;
      }

      .radio {
        display: flex;
        cursor: pointer;

        .label {
          position: relative;
          display: block;
          margin-right: 10px;
          width: 20px;
          height: 20px;
          border: 2px solid $color-dark-2;
          border-radius: 100%;
          -webkit-tap-highlight-color: transparent;

          &:after {
            content: '';
            position: absolute;
            top: 3px;
            left: 3px;
            width: 10px;
            height: 10px;
            border-radius: 100%;
            background: $color-primary;
            transform: scale(0);
            transition: all .2s ease;
            opacity: .08;
            pointer-events: none;

            &:hover {
              .label:after {
                transform: scale(3.6);
              }
            }
          }
        }


        input[type="radio"]:checked+.label {
          border-color: $color-primary;

          &:after {
            transform: scale(1);
            transition: all .2s cubic-bezier(.35, .9, .4, .9);
            opacity: 1;
          }
        }

        .cntr {
          width: 100%;
          text-align: center;
        }

        .hidden {
          display: flex;
          display: none
        }
      }



      p.message {
        display: flow-root;
        margin-top : 10px;

        a {
          color: $color-primary;
          text-decoration: none;
          margin-top: 30px;
          font-weight: 500;
        }
      }
    }
  }
}